<%- layout("/layouts/boilerplate") %>
<body>
        <br /> <br />
<div class="row">
    <div class="col-8">
    <h3>Create a new Listing</h3>

    <form method="POST" action="/listings"novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required />
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" class="form-control" type="file" required/>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1400" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid price</div>
            </div>
            <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter the country name</div>
            </div>
        </div>

        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Jaipur" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter the location name</div>
        </div>

        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="listing[category]" required>
            <option selected value="Rooms">Rooms</option>
            <option value="Trending">Trending</option>
            <option value="Iconic cities">Iconic cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Pools">Pools</option>
            </select>
            <label for="floatingSelect">Place type</label>
        </div>

       <br /> <br /> 
        <button class="btn btn-dark add-btn">Add</button>
    </form>
    <br /><br />
</div>
</div>
</body>
